<html>
	<head>
		<title>Mimi's Djangogirl blog</title>
	</head>

	<body>
		<div>
			<h1>
				<a href="">Mimi's Blog</a>
			</h1>
		</div>

		<div>
			<p>Published: 14:12:16 22:58</p>
			<h2>First post</h2>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum deleniti nobis quidem aspernatur sint repudiandae ab, perferendis, suscipit distinctio id iure inventore, optio praesentium quasi, soluta debitis totam blanditiis voluptatum.</p>
		</div>
		<div>
			<p>Published: 14:12:16 22:59</p>
			<h2>Second post</h2>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum deleniti nobis quidem aspernatur sint repudiandae ab, perferendis, suscipit distinctio id iure inventore, optio praesentium quasi, soluta debitis totam blanditiis voluptatum.</p>
		</div>
		<div>
			<p>Published: 14:12:16 23:00</p>
			<h2>Third post</h2>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum deleniti nobis quidem aspernatur sint repudiandae ab, perferendis, suscipit distinctio id iure inventore, optio praesentium quasi, soluta debitis totam blanditiis voluptatum.</p>
		</div>
	</body>
	
</html>